<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exchange Rate Calculator</title>

    <link rel="stylesheet" href="webjars/bootstrap/5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{common.css}">

    <script src="webjars/jquery/3.6.3/dist/jquery.min.js"></script>
    <script src="webjars/bootstrap/5.2.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="content">
        <h1 class="mb-5">환율 계산</h1>
        <form onsubmit="return false">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">송금국가</label>
                <div class="col-sm-8">
                    <p class="form-control-plaintext">미국(USD)</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="selectCountry">수취국가</label>
                <div class="col-sm-8">
                    <select id="selectCountry" class="custom-select mr-sm-2">
                        <option selected value="SELECT">수취국가를 선택해주세요.</option>
                        <option value="KRW">한국(KRW)</option>
                        <option value="JPY">일본(JPY)</option>
                        <option value="PHP">필리핀(PHP)</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="exchangeRate">환율</label>
                <div class="col-sm-8">
                    <p class="form-control-plaintext" id="exchangeRate"></p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="remittanceAmount">송금액</label>
                <div class="col-sm-8">
                    <input type="number" id="remittanceAmount" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <button type="button" id="submitButton" class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
        <div id="receivedAmount" class="mt-4"></div>
    </div>
</div>

<script type="text/javascript">

    $('#submitButton').click(function () {
        submitForm();
    });

    function submitForm(){
        var remittanceAmountTag = $('#remittanceAmount');
        var remittanceAmount = remittanceAmountTag.val();
        var exchangeRateText = document.getElementById('exchangeRate').innerText;
        var exchangeRate = exchangeRateText.split(' ')[0];
        var currency = $('#selectCountry').val();

        $.ajax({
            url: "/api/exchangerates/remittance?exchangeRates=" + exchangeRate + "&amount=" + remittanceAmount,
            type:"GET",
            success : function (data) {
                remittanceAmountTag.prop("class", "form-control");
                $('#receivedAmount').html("<p>수취금액은 <strong>" + data + " "  + currency + "/USD</strong> 입니다.</p>");
            },
            error : function (response) {
                console.log(response.responseText);
                remittanceAmountTag.prop("class", "form-control is-invalid");
                $('#receivedAmount').html("<p>"+ response.responseText + "</p>");
            }
        });
    }


    $('#selectCountry').change(function () {
        var currency = $(this).val();
        if (currency === 'SELECT') {
            alert("수취국가를 선택해주세요.");
            return;
        }

        $.ajax({
            url: "/api/exchangerates?targetCurrency=" + currency,
            type:"GET",
            success : function (data) {
                $('#exchangeRate').text(data + " " + currency + "/USD");
            },
            error : function (request) {
                alert("통신 오류! \n관리자에게 문의하세요.")
            }
        });
    });

</script>


</body>
</html>
